/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

html {
  user-select: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --main-font: "Quicksand", sans-serif;
  --fw-1: 300;
  --fw-2: 400;
  --fw-3: 500;
  --fw-4: 600;
  --fw-5: 700;
  --bg-color: #fffffe;
  --headline-color: #272343;
  --nav-bg-color: #272343;
  --nav-text-color: #fffffe;
  --paragraph-color: #2d334a;
  --button-bg-color: #ffd803;
  --nav-link-active-color: #ffd803;
  --button-text-color: #272343;
  --secondary: #e3f6f5;
  --tertiary: #bae8e8;
}

body {
  position: relative;
  font-family: var(--main-font);
  background-color: var(--bg-color);
}

/* Navbar */

.navbar,
.navbar-expand-lg {
  position: relative;
  width: 100%;
  height: auto;
}

.bg-custom {
  background-color: var(--nav-bg-color) !important;
}

.navbar-brand {
  color: var(--nav-text-color);
  font-weight: var(--fw-4);
  font-size: 1.2rem;
}

.navbar-brand:hover {
  color: var(--nav-text-color);
}

.nav-item {
  position: relative;
  margin-right: 2rem;
}

.nav-link {
  color: var(--nav-text-color);
}

.nav-link:hover {
  transition: all 0.5s;
  color: var(--nav-link-active-color);
}

.navs-active {
  font-weight: var(--fw-4);
  color: var(--nav-link-active-color);
}

.navs-active:hover {
  color: var(--nav-link-active-color);
}

.btn-link {
  padding: 0.5rem 2rem;
  font-weight: var(--fw-4);
  color: var(--nav-text-color);
  border: 0.13rem solid var(--button-bg-color);
}

.btn-link:active,
.btn-link:focus {
  color: var(--nav-text-color) !important;
  background-color: var(--button-bg-color) !important;
}

.btn-link:hover {
  transition: 0.6s;
  color: var(--nav-text-color);
  background-color: var(--button-bg-color);
}

@media only screen and (max-width: 600px) {
  .nav-item {
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn-link {
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 8rem;
  }
}
/* Navbar End */

/* Hero Section */

.hero-image {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35.41rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.527)),
    url("../image/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  margin: 12rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.hero-text h1 {
  width: 40rem;
  color: var(--bg-color);
  font-weight: var(--fw-4);
  font-size: 4rem;
}

.hero-text h4 {
  color: var(--bg-color);
  font-size: 1.5rem;
}

.btn-primary {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-weight: var(--fw-5);
  border: 0.2rem solid var(--button-bg-color);
  margin-top: 1rem;
  padding: 0.8rem 4rem;
}

.btn-primary:hover {
  border-color: var(--button-bg-color);
  background-color: transparent;
}

.btn-primary:active,
.btn-primary:focus {
  border-color: var(--button-bg-color) !important;
  color: var(--nav-text-color) !important;
  background-color: transparent !important;
}

@media only screen and (max-width: 600px) {
  .hero-image {
    width: 100%;
    height: 25rem;
  }
  .hero-text {
    margin: 6rem 1rem;
    display: flex;
    flex-direction: column;
  }
  .hero-text h1 {
    width: 20rem;
    color: var(--bg-color);
    font-weight: var(--fw-4);
    font-size: 2.4rem;
  }
  .hero-text h4 {
    color: var(--bg-color);
    font-size: 1.2rem;
  }
  .btn-primary {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-weight: var(--fw-5);
    border: 0.2rem solid var(--button-bg-color);
    margin-top: 1rem;
    padding: 0.6rem 3rem;
  }
}

/* Hero Section End */
