/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

html {
  user-select: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --main-font: "Quicksand", sans-serif;
  --fw-1: 300;
  --fw-2: 400;
  --fw-3: 500;
  --fw-4: 600;
  --fw-5: 700;
  --bg-color: #fffffe;
  --nav-text-color: #fffffe;
  --button-text-color: #fffffe;
  --headline-color: #2b2c34;
  --nav-bg-color: #2b2c34;
  --paragraph-color: #2b2c34;
  --button-bg-color: #6246ea;
  --nav-link-active-color: #6246ea;
  --secondary: #d1d1e9;
  --tertiary: #e45858;
}

body {
  position: relative;
  font-family: var(--main-font);
  background-color: var(--bg-color);
}

/* Navbar */

.navbar,
.navbar-expand-lg {
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
}

.bg-custom {
  background-color: var(--nav-bg-color) !important;
}

.navbar-brand {
  color: var(--nav-text-color);
  font-weight: var(--fw-4);
  font-size: 1.2rem;
}

.navbar-brand:hover {
  color: var(--nav-text-color);
}

.nav-item {
  position: relative;
  margin-right: 2rem;
}

.nav-link {
  color: var(--nav-text-color);
}

.nav-link:hover {
  transition: all 0.5s;
  color: var(--nav-link-active-color);
}

.navs-active {
  font-weight: var(--fw-4);
  color: var(--nav-link-active-color);
}

.navs-active:hover {
  color: var(--nav-link-active-color);
}

.btn-link {
  padding: 0.5rem 2rem;
  font-weight: var(--fw-4);
  color: var(--nav-text-color);
  border: 0.13rem solid var(--button-bg-color);
}

.btn-link:active,
.btn-link:focus {
  color: var(--nav-text-color) !important;
  background-color: var(--button-bg-color) !important;
}

.btn-link:hover {
  transition: 0.6s;
  color: var(--nav-text-color);
  background-color: var(--button-bg-color);
}

@media only screen and (max-width: 600px) {
  .nav-item {
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn-link {
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 8rem;
  }
}
/* Navbar End */

/* Hero Section */

.hero-image {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35.41rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.737), rgba(0, 0, 0, 0.737)),
    url("../img/hero-img-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text {
  margin: 12rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.hero-text h1 {
  width: 40rem;
  color: var(--bg-color);
  font-weight: var(--fw-4);
  font-size: 3rem;
}

.hero-text p {
  color: var(--bg-color);
  font-size: 1.5rem;
}

.btn-primary {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-weight: var(--fw-5);
  border: 0.2rem solid var(--button-bg-color);
  margin-top: 1rem;
  padding: 0.4rem 3rem;
}

.btn-primary:hover {
  border-color: var(--button-bg-color);
  background-color: transparent;
}

.btn-primary:active,
.btn-primary:focus {
  border-color: var(--button-bg-color) !important;
  color: var(--nav-text-color) !important;
  background-color: transparent !important;
}

@media only screen and (max-width: 600px) {
  .hero-image {
    width: 100%;
    height: 30rem;
  }
  .hero-text {
    margin: 8rem 2rem;
    display: flex;
    flex-direction: column;
  }
  .hero-text h1 {
    width: 20rem;
    color: var(--bg-color);
    font-weight: var(--fw-5);
    font-size: 2.4rem;
  }
  .hero-text h4 {
    color: var(--bg-color);
    font-size: 1.2rem;
  }
  .btn-primary {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-weight: var(--fw-5);
    border: 0.2rem solid var(--button-bg-color);
    margin-top: 1rem;
    padding: 0.4rem 2rem;
  }
}

/* Hero Section End */

/* About Us */

#aboutUs {
  position: relative;
  width: 100%;
  height: auto;
  margin: 3rem 0;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#aboutUs h1 {
  font-size: 2.5rem;
  font-weight: var(--fw-5);
}

#aboutUs p {
  font-size: 1.3rem;
  font-weight: var(--fw-3);
}

.btn-secondary {
  background-color: transparent;
  color: var(--headline-color);
  font-weight: var(--fw-5);
  border: 0.2rem solid var(--button-bg-color);
  margin-top: 1rem;
  padding: 0.4rem 3rem;
}

.btn-secondary:hover {
  transition: 0.6s ease-in-out;
  border-color: var(--button-bg-color);
  background-color: var(--button-bg-color);
}

.btn-secondary:active,
.btn-secondary:focus {
  border-color: var(--button-bg-color) !important;
  color: var(--headline-color) !important;
  background-color: transparent !important;
}

@media only screen and (max-width: 600px) {
  #aboutUs h1 {
    font-size: 2.5rem;
    font-weight: var(--fw-5);
  }

  #aboutUs p {
    margin: 3rem 0 0 0;
    font-size: 1.3rem;
    font-weight: var(--fw-3);
    text-align: justify;
  }
}

/* About Us End */

/* Why Us Section */

#whyUsSection {
  position: relative;
  width: 100%;
  height: auto;
  background-image: linear-gradient(#2b2c34, #2b2c34),
    url("../img/why-us-img.jpg");
  background-size: cover;
  background-position: center;
  margin: 3rem 0;
}

#whyUsSection h1 {
  font-size: 2.5rem;
  font-weight: var(--fw-5);
  text-align: center;
  padding: 3rem 0 0 0;
  color: var(--nav-text-color);
}

.why-us-card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
}

.why-us-card:hover {
  transition: 0.6s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.circle-container {
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  padding: 1.5rem 1.5rem;
  border-radius: 100%;
  background-color: #6146ea55;
}

.circle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-icon {
  font-size: 1.5rem;
  color: var(--button-bg-color);
}

/* Why Us Section End */
